{
  "openapi": "3.0.3",
  "info": {
    "title": "arXiv Search API (LLM Optimized v2)",
    "version": "1.1.0",
    "description": "Search and retrieve scientific papers from arXiv. This API returns Atom XML feeds containing metadata such as title, authors, abstract, and links to papers.\n\nThis specification is optimized for LLM tool usage and includes strict guidance for constructing effective search queries."
  },
  "servers": [
    {
      "url": "https://export.arxiv.org",
      "description": "arXiv API server"
    }
  ],
  "paths": {
    "/api/query": {
      "get": {
        "operationId": "search_arxiv",
        "summary": "Search arXiv papers",
        "description": "Search for scientific papers on arXiv using a structured query language.\n\n========================\nLLM USAGE INSTRUCTIONS\n========================\n\nYou MUST follow these rules when constructing queries:\n\n1. ALWAYS prefix free-text terms with `all:`\n   - Example: all:transformer\n   - NEVER use plain text without a field prefix\n\n2. Use AND to combine multiple concepts\n   - Example: all:transformer AND all:neural network\n\n3. Use quotes for exact phrases\n   - Example: ti:\"large language models\"\n\n4. For AI / ML topics, ALWAYS include a category filter:\n   - cat:cs.AI (Artificial Intelligence)\n   - cat:cs.LG (Machine Learning)\n   - cat:cs.CL (Natural Language Processing)\n\n5. Prefer relevance sorting unless the user explicitly asks for recent papers\n\n6. If results are not relevant:\n   - Refine the query by adding AND terms\n   - Add or adjust category filters\n   - Retry up to 2 times before giving up\n\n========================\nSUPPORTED QUERY FIELDS\n========================\n\n- all: search all fields\n- ti: title\n- au: author\n- abs: abstract\n- cat: category (e.g. cs.AI)\n\n========================\nEXAMPLES\n========================\n\n- all:machine learning\n- au:\"Geoffrey Hinton\"\n- cat:cs.AI AND all:transformer\n- cat:cs.LG AND all:transformer AND all:neural network\n\n========================\nIMPORTANT\n========================\n\n- You MUST provide either `search_query` OR `id_list`\n- Do NOT leave both empty\n- Prefer `search_query` unless retrieving known paper IDs",
        "parameters": [
          {
            "name": "search_query",
            "in": "query",
            "required": false,
            "description": "Structured arXiv query string.\n\nLLM RULES:\n- ALWAYS prefix terms with all:, ti:, au:, abs:, or cat:\n- Combine terms using AND\n- Add category filters for technical topics\n\nGOOD EXAMPLES:\n- cat:cs.LG AND all:transformer\n- au:\"Yoshua Bengio\" AND all:deep learning\n- ti:\"large language models\"\n\nBAD EXAMPLES:\n- transformer models\n- AI papers\n\nIf unsure, default to:\ncat:cs.AI AND all:<topic>",
            "schema": {
              "type": "string"
            },
            "examples": {
              "good_ml": {
                "value": "cat:cs.LG AND all:transformer"
              },
              "author": {
                "value": "au:\"Geoffrey Hinton\" AND all:neural networks"
              },
              "nlp": {
                "value": "cat:cs.CL AND all:large language models"
              }
            }
          },
          {
            "name": "id_list",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of arXiv paper IDs.\n\nUse this ONLY when specific paper IDs are known.\nOverrides search_query if both are provided.",
            "schema": {
              "type": "string"
            },
            "example": "2101.00001,2101.00002"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Pagination offset (0-based index).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "example": 0
          },
          {
            "name": "max_results",
            "in": "query",
            "description": "Maximum number of results to return.\n\nRecommended: 5–20 for LLM usage.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 10
            },
            "example": 10
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sorting method.\n\nIMPORTANT:\n- Use relevance for most queries\n- Use submittedDate ONLY when user asks for recent/latest papers",
            "schema": {
              "type": "string",
              "enum": ["relevance", "lastUpdatedDate", "submittedDate"],
              "default": "relevance"
            },
            "example": "relevance"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort order of results.",
            "schema": {
              "type": "string",
              "enum": ["ascending", "descending"],
              "default": "descending"
            },
            "example": "descending"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing Atom XML feed of search results.\n\nNOTE FOR LLMs:\n- Results may include unrelated papers if query is weak\n- Always check titles and summaries for relevance\n- If results are poor, refine the query",
            "content": {
              "application/atom+xml": {
                "schema": {
                  "type": "string",
                  "description": "Atom XML feed containing arXiv entries"
                },
                "examples": {
                  "sample": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><feed>...</feed>"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArxivEntry": {
        "type": "object",
        "description": "Simplified representation of an arXiv paper (parsed from Atom XML).",
        "properties": {
          "id": {
            "type": "string",
            "example": "2101.00001"
          },
          "title": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "published": {
            "type": "string",
            "format": "date-time"
          },
          "updated": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string"
          },
          "pdf_url": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  }
}
